footer {
    background-color: #69619a;
    color: #f8f8f8;
    grid-area: footer;
    width: 100%;
}

.footer-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.footer-wrapper a {
    color: #f8f8f8;
    transition: color 0.3s ease;
}

.footer-wrapper a:hover {
    color: #444;
}