/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:300,400&display=swap');

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    height: 100%;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 10px;
}

/* Grid */
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "nav"
        "blog"
        "footer";
    grid-template-rows: 60px 1fr 40px;
    min-height: 100vh;
}