nav {
    border-bottom: 1px solid #444;
    box-shadow: 0px 1px rgba(150, 150, 150, .75);
    grid-area: nav;
    width: 100%;
}

.nav-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}

.nav-wrapper h1 {
    color: #69619a;
    flex-grow: 3;
    font-size: 28px;
    text-transform: uppercase;
}

.nav-wrapper ul {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.nav-wrapper ul li:nth-child(2) {
    align-self: flex-end;
    background-color: #69619a;
    border-radius: 3px;
    margin-left: 15px;
    padding: 8px;
}

.nav-wrapper ul li a {
    color: #444;
}

.nav-wrapper ul li:nth-child(2) a {
    color: #f8f8f8;
}

.nav-wrapper ul li:nth-child(2) a:hover {
    color: rgba(220, 220, 220, 1);
    transition: color 0.3s ease;
}